<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/operation"></ion-back-button>
    </ion-buttons>
    <ion-title>Factory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div [ngSwitch]="Check">

    <ion-list *ngSwitchCase="'Header'">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <ion-button ion-button expand="block">CLIENT</ion-button>
            </ion-col>
            <ion-col size="2">
              <ion-input [(ngModel)]="oClient" readonly></ion-input>
            </ion-col>
            <ion-col size="2">
              <ion-button ion-button expand="block" (click)="doGetReceipt()">R#</ion-button>
            </ion-col>
            <ion-col>
              <ion-input placeholder="R#" [(ngModel)]="oOrder" ></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
             <ion-col size="3">
              <ion-button ion-button expand="block" (click)="doDocrefPage()">DOC REF</ion-button>
            </ion-col>
            <ion-col size="5">
              <ion-input placeholder="DOC REF" [(ngModel)]="oDocRef" ></ion-input>
            </ion-col>
            <ion-col>
              <ion-label stacked style="margin: 0px 0px 0px 0;">Date</ion-label>
              <ion-datetime [(ngModel)]="oDate" displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD"></ion-datetime>
              <!-- <ion-input style="border: none;border-bottom-color:none"(click)="doCalendar()" [(ngModel)]="oDate" readonly></ion-input> -->
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label stacked style="margin: 0px 0px 0px 0;">Warehouse</ion-label>
                <ion-select [(ngModel)]="oWarehouse" interface="popover" [disabled]="!isdisabledwh">
                  <ion-select-option  *ngFor = "let warehouse of listWarehouse" value="{{warehouse.Warehouse}}">{{warehouse.Warehouse}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
           <ion-col>
              <ion-item>
                <ion-label stacked style="margin: 0px 0px 0px 0;">Zone</ion-label>
                <ion-select [(ngModel)]="oZone" interface="popover" [disabled]="!isdisabledzone">
                  <ion-select-option *ngFor = "let zone of listZone" value="{{zone.Zone}}">{{zone.Description}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>

      
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <ion-label>Work Order</ion-label>
            </ion-col>
            <ion-col>
              <ion-input [(ngModel)]="oWork"  style="background-color: #FFFF99" readonly></ion-input>
            </ion-col>
            <ion-col size="2">
              <ion-label>Status</ion-label>
            </ion-col>
            <ion-col >
              <ion-input placeholder="Status" [(ngModel)]="oStatus" style="background-color: #FFFF99" readonly></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
        <br/>
          <ion-grid>
            <ion-row>
                <ion-col>
                  <ion-button ion-button expand="block" color="light"(click)="doClearHeader()">CLEAR</ion-button>
                </ion-col>
                <ion-col>
                  <ion-button ion-button expand="block" (click)="doSaveHeader(oClient, oOrder, oDate, oDocRef, oStatus, oWarehouse, oZone)">SAVE</ion-button>
                </ion-col>
                <ion-col>
                  <ion-button ion-button expand="block" color="secondary"(click)="doConfirmHeader(oClient, oOrder, oDate, oDocRef, oStatus, oWarehouse, oZone)">CONFIRM</ion-button>
                </ion-col>
            </ion-row>
          </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'Details'">

      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-button ion-button expand="block" >CLIENT</ion-button>
          </ion-col>
          <ion-col size="2">
            <ion-input [(ngModel)]="oClient" readonly></ion-input>
          </ion-col>
          <ion-col size="2">
            <ion-button ion-button expand="block" disabled >R#</ion-button>
          </ion-col>
          <ion-col>
            <ion-input placeholder="R#" [(ngModel)]="oOrder" readonly></ion-input>
          </ion-col>
        </ion-row>
        <br>
        <div scrollX="true" scrollY="true">
          <ion-row style="width: 1000px;" *ngFor = "let details of data_task_detail; let i = index" (click)="doReturn(details.task_no, details.serial_number, details.item_no, details.description, details.grade, details.warehouse, details.location_from, details.location_to, details.loose_qty, details.print_unit, details.area_from, details.line_no)">
            <ion-col class="border-col" size=auto>
              <ion-row class="border-row" style="width:30px;" *ngIf = "i == 0">
                #
              </ion-row>
              <ion-row style="width:30px;">
                {{details.task_no}}
              </ion-row>
            </ion-col>
            <!-- <ion-col class="border-col">
              <ion-row class="border-row" style="width:150px;" *ngIf = "i == 0">
                Pallet
              </ion-row>
              <ion-row style="width:150px;">
                {{details.pallet_from}}
              </ion-row>
            </ion-col> -->
            <ion-col class="border-col">
              <ion-row class="border-row" *ngIf = "i == 0">
                Item No
              </ion-row>
              <ion-row>
                {{details.item_no}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col" size=3>
              <ion-row class="border-row" *ngIf = "i == 0">
                Description
              </ion-row>
              <ion-row>
                {{details.description}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col">
              <ion-row class="border-row" *ngIf = "i == 0">
                Grade
              </ion-row>
              <ion-row>
                {{details.grade}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col">
              <ion-row class="border-row" *ngIf = "i == 0">
                Qty
              </ion-row>
              <ion-row>
                {{details.loose_qty}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col">
              <ion-row class="border-row" *ngIf = "i == 0">
                Uom
              </ion-row>
              <ion-row>
                {{details.loose_uom}}
              </ion-row>
            </ion-col>
            <ion-col class="border-col">
              <ion-row class="border-row" *ngIf = "i == 0">
                Status
              </ion-row>
              <ion-row>
                {{details.status}}
              </ion-row>
            </ion-col>
            <!-- <ion-col class="border-col">
              <ion-row class="border-row" *ngIf = "i == 0">
               Qty Use
              </ion-row>
              <ion-row>
                {{details.qty_use}}
              </ion-row>
            </ion-col> -->
            <!-- <ion-col class="border-col"col-1>
              <ion-row class="border-row" *ngIf = "i == 0">
                Qty Balance
              </ion-row>
              <ion-row>
                {{details.qty_balace}}
              </ion-row>
            </ion-col> -->
            <!-- <ion-col class="border-col" col-1>
              <ion-row class="border-row" *ngIf = "i == 0">
                Qty Oqriginal
              </ion-row>
              <ion-row>
                {{details.original_qty}}
              </ion-row>
            </ion-col> -->
          </ion-row>
        </div>
        <ion-row>
          <ion-col size="auto">
            <ion-label>Rec No.</ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-input [(ngModel)]="oTask_no" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
          <ion-col size="auto">
            <ion-label>Serial</ion-label>
          </ion-col>
          <ion-col>
            <ion-input [(ngModel)]="oSerial_no" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2">
            <ion-label>Item</ion-label>
          </ion-col>
          <ion-col >
            <ion-input [(ngModel)]="oItem"  style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
          <ion-col >
            <ion-item>
            <ion-label stacked style="margin: 0px 0px 0px 0;">Grade</ion-label>
              <ion-select [(ngModel)]="oGrade" interface="popover" disabled>
                <ion-select-option *ngFor="let grade of data_grade" value="{{grade.param_code}}" disabled>{{grade.param_code}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2">
            <ion-label>Description</ion-label>
          </ion-col>
          <ion-col>
            <ion-input style="background-color: #FFFF99" [(ngModel)]="oDes" readonly></ion-input>
          </ion-col>
        </ion-row>
         <ion-row>
          <ion-col size="2">
            <ion-label>โซน</ion-label>
          </ion-col>
          <ion-col >
              <ion-input style="background-color: #FFFF99" [(ngModel)]="oZone2" readonly></ion-input>
          </ion-col>
          <ion-col size=2>
            <!-- <ion-label>คลัง</ion-label> -->
          </ion-col>
          <ion-col>
              <!-- <ion-input [(ngModel)]="oWarehouse2" style="background-color: #FFFF99" readonly></ion-input> -->
          </ion-col>
        </ion-row>
         <ion-row>
          <ion-col size="2">
            <ion-label>Location From</ion-label>
          </ion-col>
          <ion-col >
              <ion-input [(ngModel)]="oLocation_from" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
          <ion-col size="3">
            <ion-label>Location To</ion-label>
          </ion-col>
          <ion-col>
              <ion-input [(ngModel)]="oLocation_to" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <!-- <ion-col col-3>
            <ion-label>จำนวนเดิม</ion-label>
          </ion-col>
          <ion-col >
              <ion-input style="background-color: #FFFF99" [(ngModel)]="oUOM" readonly></ion-input>
          </ion-col> -->
          <ion-col size="2">
            <ion-label>จำนวน</ion-label>
          </ion-col>
          <ion-col size="4">
              <ion-input [(ngModel)]="oQty" style="background-color: #FFFF99" readonly></ion-input>
          </ion-col>
          <ion-col size="3">
            <ion-label>ยอดคงเหลือ</ion-label>
          </ion-col>
          <ion-col>
              <ion-input style="background-color: #FFFF99" [(ngModel)]="oQty_balance" readonly></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button ion-button expand="block" color="secondary" (click)="doClearDetail()">Clear</ion-button>
          </ion-col>
          <ion-col>
            <ion-button ion-button expand="block" color="danger" (click)="doDeleteLine()">Delete</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
      <ion-segment [(ngModel)]="Check">
        <ion-segment-button value="Header">
          HEADER
        </ion-segment-button>
        <ion-segment-button value="Details">
          DETAILS
        </ion-segment-button>
      </ion-segment>
</ion-footer>
