ion-input{
    background-color: #FFFFFF;
    border: 1px solid #cecece;
    font-size: 14px;
    // border-radius: 25px 25px 25px 25px;
  }
  ion-icon {
     font-size: 25px; //Preferred size here
  }
  ion-grid{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  div[scrollx=true],div[scrolly=true] {
    position: relative;
    overflow: hidden;
  }
  
  div[scrollx=true] {
    overflow-x: auto;
  }
  
  div[scrolly=true] {
    overflow-y: auto;
  }
  .border-col{
    border: 1px solid #cecece;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .border-row{
    border-bottom: 1px solid #cecece;
    background-color: #FAFAD2;
  }
  .col{
    padding-top: 2px;
    padding-bottom: 2px;
    //flex: 5;
    width: calc(calc(2 / var(--ion-grid-columns, 12)) * 100%);
    max-width: calc(calc(2 / var(--ion-grid-columns, 12)) * 100%);
  }
  .grid{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  // .label-md {
  //   margin: 0px 0px 0px 0;
  // }
  .button-md {
      padding: 0 0.7em;
  }