<ion-header>
  <ion-toolbar color="primary">
    <ion-button ion-button menuToggle (click)="menuOpened()">
      <ion-icon name="menu"></ion-icon>
    </ion-button>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div style="margin-top: 90%">
    <ion-row>
      <ion-label style="text-align: center;">ผู้ใช้เข้าสู่ระบบอยู่</ion-label>
    </ion-row>
    <ion-row>
      <ion-label style="text-align: center;">Username</ion-label>
    </ion-row>
    <ion-row>
      <ion-label style="text-align: center;">Group</ion-label>
    </ion-row>
    <ion-row>
      <ion-label style="text-align: center;">Store</ion-label>
    </ion-row>
    
    <!-- <ion-label style="text-align: center;">Username</ion-label>
    <ion-label style="text-align: center;">Group</ion-label>
    <ion-label *ngIf="oCus_name != undefined" style="text-align: center;">Store</ion-label> -->
  </div>
</ion-content>
